* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
}

header {
    background: url('../assets/back.jpg');
    background-size: coveR;
    padding-top: 1em;
    padding-bottom: 7.5em;
    margin-top: -10em;
    background-position-y: -2em;
    background-repeat: no-repeat;

    .contenedor {

        ul {
            padding: 1em;
            margin-top: 10em;
            padding-top: 1%;
            display: flex;

            div.izq {
                width: 25%;
                color: white;
                text-align: left;

                img {
                    width: 100%;
                    max-width: 60px;
                }
            }

            div.der {
                width: 75%;
                display: flex;
                justify-content: flex-end;

                li {
                    list-style-type: none;
                    padding: 1%;
                    flex-wrap: nowrap;

                    a {
                       word-break: keep-all;
                        font-family: 'Open Sans';
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }

    div.contenido {


        margin-top: 4em;
        display: flex;
        justify-content: center;
        flex-direction: column;

        align-items: center;

        h1 {
            color: white;
            font-family: 'Open Sans';
            font-weight: 300;
            text-align: center;
            font-size: 2.2em;
            padding: 0.3em;
        }

        input {
            padding: 1%;
            margin-top: 2em;
            width: 60%;
            margin-bottom: 10em;
        }

        .botones {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-bottom: 1em;
            margin-top: 0.5em;

            button {
                border-radius: 3px;
                font-family: 'Open Sans';
                margin: 1%;
                font-size: 1.1em;
                margin-top: 1em;
                background: transparent;
                border: 1px solid white;
                color: white;
                padding: 0.7%;
                padding-left: 4%;
                padding-right: 4%;
                a{
                    color: white;
                    text-decoration: none;
                    word-wrap: nowrap;
                }
                &:hover {
                    background: white;
                    color:  black;
                    cursor: pointer;
                    transition-duration: 1s;
                    a{
                        color: black;
                    }

                }
            }
        }
    }

    .footer {

        margin: 0;

        img {
            width: 100%;
            margin-bottom: -0.5em;
            height: 100%;
            height: 200px;

        }
    }
}

section#main {
    background: #00d563;
    z-index: 2;
    width: 100%;
    padding-top: 4.5em;
    .curva {
        transform: rotate(180deg);
        padding-bottom: 2em;
        margin-bottom: -1%;
        img {
            max-height: 200px;
            width: 100%;
            height: 100%;

        }
    }

    .contenedor {

        display: flex;
        justify-content: center;
        padding: 1%;
        flex-wrap: wrap;

        .der {
            width: 50%;
            color: white;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;

            h2 {
                font-size: 2em;
                text-align: left;
                width: 100%;
                font-family: "Open Sans";
                font-weight: 300;
                margin-bottom: 0.5em;
            }

            p {
                font-family: "Open Sans";
                text-align: justify;
                padding: 1em;
            }

            button {
                padding: 0.6em;
                width: 100%;
                max-width: 200px;
                border: 1px solid rgba(255, 255, 255, 0.301);
                background-image: linear-gradient(-226deg, #b73dc7, #a740c4 8%, #714bbb 38%, #5358cf 66%, #3f64d4 84%, #2b69dd);
                color: white;

                border-radius: 10px;
                margin-top: 1.5em;
                margin-bottom: 3em;
                font-size: 1.01em;
                transition: .6s linear;
            
                &:hover {
                    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.178);
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-4px);
                    cursor: pointer;
                }
            }
        }

        .izq {
            width: 50%;
            .verdeclaro{
                border: 10px solid #00d563;
                img {
                    width: 100%;
                }
            }
        }
    }


}

section#carousel{
    background: black;
    .curva{
        transform: rotate(180deg);
        position: relative;
        top: -0.3em;
        max-height: 300px;
        height: 100%;
    }
    .contenedor{
        h2{
            color: white;
            font-family: "Open Sans";
            margin-top: 1em;
            font-size: 2.5em;
            text-align: center;
            padding-bottom: 2em;
            font-weight: 300;
        }
        padding-top: 1em; 
        padding-bottom: 6em;
    }
}
section#top {
    margin-top: 5em;

    h2 {
        margin-top: .2em;
        text-align: center;
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 2em;
    }

    padding-bottom: 6.5em;

    .contenedor {
        margin-top: 4em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .caja {
            text-align: center;
            justify-content: center;
            width: 25%;
            min-width: 227px;
            margin-top: 2em;
            align-content: center;
            img {
                width: 100%;
                max-width: 140px;
            }

            .text {
                p {
                    text-align: center;
                    margin-top: 1em;
                    font-size: 1.1em;
                    font-weight: 300;
                    font-family: 'Open Sans';
                }
            }
        }
    }
}

section#facil {
    padding-bottom: 2em;
    .contenedor {
        font-family: 'Roboto';
        h2 {
            padding-top: 1.5em;
            text-align: centeR;
            font-weight: 300;
            font-size: 2em;
            margin-bottom: 0.65em;
        }

        p {
            text-align: center;
            margin-bottom: 3em;
        }

        form {
            padding: 2em;

            .icono {
                margin-top: -4.5em;
                border-radius: 100%;
                width: 100%;
                border: 10px solid rgb(255, 255, 255);
                width: 100px;
                height: 100px;
                background-image: url('../assets/iphone.png');
                background-size: cover;
            }

            p {
                margin-top: 2em;
                text-align: center;

            }

            max-width: 540px;
            margin: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: white;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.226);
            input,
            textarea {
                width: 100%;
                padding: 1%;
                border-color: transparent;
                border-bottom: 1px solid rgba(0, 0, 0, 0.151);
                margin-bottom: 1em;
                font-family: 'Roboto';
                font-size: 1em;
                max-width: 400px;

            }

            button {
                background-color: #1869e5;
                box-shadow: 0 2px 12px 0 rgba(24, 105, 229, .3);
                border-color: #1869e5;
                padding: 1.2% 3em 1.2% 3em;
                color: white;
                font-family: 'Roboto';
                font-size: 1.1em;
                margin-top: 1em;
                border-radius: 20px;
                transition: 0.2s linear;
                &:hover {
                    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.178);
                    -webkit-transform: translateY(-4px);
                    transform: translateY(-2px);
                    cursor: pointer;
                }
            }
        }
    }
}

footer{
    hr{
        opacity: .4;
    }
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 1%;
    margin-top: 1eM;
    color: white;
    padding: 1em;
    font-family: "Open Sans";
    .contenedor{
        display: flex;
        .img{
            text-align: center;
            img{
                width: 100%;
                max-width: 80px;
            }
            p{
                margin-top: 0.5em;
                padding-bottom: 1.3em;
            }
        }
        .menu{
            margin-left: 1em;
            ul{
                li{
                    list-style-type: none;
                }
            }
        }
    }
    .contenedor2{
        
        p{
            margin-top: 0.4em;
            text-align: center;
        }
    }
}

@media screen and (max-width: 854px){
    section#main{
        .contenedor{
            .izq, .der{
                width: 100%;
                text-align: center;
                align-items: center;
                justify-content: center;
                h2{
                    text-align: center;
                    margin-top: 1em;
                    padding-bottom: 0.5em;
                }
                img{
                    max-width: 400px;
                }
            }
        }
    }
}