* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

header {
  background: url("../assets/back.jpg");
  background-size: coveR;
  padding-top: 1em;
  padding-bottom: 7.5em;
  margin-top: -10em;
  background-position-y: -2em;
}

header .contenedor ul {
  padding: 1em;
  margin-top: 10em;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .contenedor ul div.izq {
  width: 25%;
  color: white;
  text-align: left;
}

header .contenedor ul div.izq img {
  width: 100%;
  max-width: 60px;
}

header .contenedor ul div.der {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .contenedor ul div.der li {
  list-style-type: none;
  padding: 1%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .contenedor ul div.der li a {
  word-break: keep-all;
  font-family: 'Open Sans';
  text-decoration: none;
  color: white;
}

header div.contenido {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.contenido h1 {
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  font-size: 2.2em;
  padding: 0.3em;
}

header div.contenido input {
  padding: 1%;
  margin-top: 2em;
  width: 60%;
  margin-bottom: 10em;
}

header div.contenido .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1em;
  margin-top: 0.5em;
}

header div.contenido .botones button {
  border-radius: 3px;
  font-family: 'Open Sans';
  margin: 1%;
  font-size: 1.1em;
  margin-top: 1em;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.7%;
  padding-left: 4%;
  padding-right: 4%;
}

header div.contenido .botones button a {
  color: white;
  text-decoration: none;
  word-wrap: nowrap;
}

header div.contenido .botones button:hover {
  background: white;
  color: black;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header div.contenido .botones button:hover a {
  color: black;
}

header .footer {
  margin: 0;
}

header .footer img {
  width: 100%;
  margin-bottom: -0.5em;
  height: 100%;
  height: 200px;
}

section#main {
  background: #00d563;
  z-index: 2;
  width: 100%;
  padding-top: 4.5em;
}

section#main .curva {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-bottom: 2em;
  margin-bottom: -1%;
}

section#main .curva img {
  max-height: 200px;
  width: 100%;
  height: 100%;
}

section#main .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#main .contenedor .der {
  width: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
}

section#main .contenedor .der h2 {
  font-size: 2em;
  text-align: left;
  width: 100%;
  font-family: "Open Sans";
  font-weight: 300;
  margin-bottom: 0.5em;
}

section#main .contenedor .der p {
  font-family: "Open Sans";
  text-align: justify;
  padding: 1em;
}

section#main .contenedor .der button {
  padding: 0.6em;
  width: 100%;
  max-width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.301);
  background-image: linear-gradient(-226deg, #b73dc7, #a740c4 8%, #714bbb 38%, #5358cf 66%, #3f64d4 84%, #2b69dd);
  color: white;
  border-radius: 10px;
  margin-top: 1.5em;
  margin-bottom: 3em;
  font-size: 1.01em;
  -webkit-transition: .6s linear;
  transition: .6s linear;
}

section#main .contenedor .der button:hover {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.178);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.178);
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  cursor: pointer;
}

section#main .contenedor .izq {
  width: 50%;
}

section#main .contenedor .izq .verdeclaro {
  border: 10px solid #00d563;
}

section#main .contenedor .izq .verdeclaro img {
  width: 100%;
}

section#carousel .contenedor {
  padding-bottom: 5em;
}

section#top {
  margin-top: 5em;
  padding-bottom: 6.5em;
}

section#top h2 {
  margin-top: .2em;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 2em;
}

section#top .contenedor {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#top .contenedor .caja {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  min-width: 227px;
  margin-top: 2em;
  -ms-flex-line-pack: center;
      align-content: center;
}

section#top .contenedor .caja img {
  width: 100%;
  max-width: 140px;
}

section#top .contenedor .caja .text p {
  text-align: center;
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: 300;
  font-family: 'Open Sans';
}

section#facil {
  padding-bottom: 2em;
}

section#facil .contenedor {
  font-family: 'Roboto';
}

section#facil .contenedor h2 {
  padding-top: 1.5em;
  text-align: centeR;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 0.65em;
}

section#facil .contenedor p {
  text-align: center;
  margin-bottom: 3em;
}

section#facil .contenedor form {
  padding: 2em;
  max-width: 540px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.226);
}

section#facil .contenedor form .icono {
  margin-top: -4.5em;
  border-radius: 100%;
  width: 100%;
  border: 10px solid white;
  width: 100px;
  height: 100px;
  background-image: url("../assets/iphone.png");
  background-size: cover;
}

section#facil .contenedor form p {
  margin-top: 2em;
  text-align: center;
}

section#facil .contenedor form input,
section#facil .contenedor form textarea {
  width: 100%;
  padding: 1%;
  border-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.151);
  margin-bottom: 1em;
  font-family: 'Roboto';
  font-size: 1em;
  max-width: 400px;
}

section#facil .contenedor form button {
  background-color: #1869e5;
  -webkit-box-shadow: 0 2px 12px 0 rgba(24, 105, 229, 0.3);
          box-shadow: 0 2px 12px 0 rgba(24, 105, 229, 0.3);
  border-color: #1869e5;
  padding: 1.2% 3em 1.2% 3em;
  color: white;
  font-family: 'Roboto';
  font-size: 1.1em;
  margin-top: 1em;
  border-radius: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

section#facil .contenedor form button:hover {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.178);
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.178);
  -webkit-transform: translateY(-4px);
  transform: translateY(-2px);
  cursor: pointer;
}

footer {
  background: black;
  padding: 1%;
  margin-top: 1eM;
  color: white;
  padding: 1em;
}

footer p {
  text-align: center;
  font-family: 'Roboto';
}

@media screen and (max-width: 854px) {
  section#main .contenedor .izq, section#main .contenedor .der {
    width: 100%;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#main .contenedor .izq h2, section#main .contenedor .der h2 {
    text-align: center;
    margin-top: 1em;
    padding-bottom: 0.5em;
  }
  section#main .contenedor .izq img, section#main .contenedor .der img {
    max-width: 400px;
  }
}
/*# sourceMappingURL=style.css.map */