* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
}

header {
    background: url('../assets/melinda-derksen-718747-unsplash.jpg');
    background-size: coveR;
    padding-top: 1em;
    padding-bottom: 5em;
    margin-top: -10em;
    transform: skewY(-6.2deg);
    .contenedor{

        transform: skewY(6.2deg);
        ul {
            margin-top: 10em;
            padding-top: 1%;
            display: flex;
            
            div.izq {
                width: 25%;
                color: white;
                text-align: left;
                img{
                    width: 100%;
                    max-width: 50px;
                }
            }
            
            div.der {
                width: 75%;
                display: flex;
                justify-content: flex-end;
                
                li {
                   list-style-type: none;
                    padding: 1%;
                    flex-wrap: nowrap;
                    
                    a {
                        white-space: nowrap;
                        font-family: 'Open Sans';
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }

    div.contenido {


        margin-top: 4em;
        display: flex;
        justify-content: center;
        flex-direction: column;

        align-items: center;

        h1 {
            color: white;
            font-family: 'Open Sans';
            font-weight: 300;
            text-align: center;
            font-size: 2.2em;
        }

        input {
            padding: 1%;
            margin-top: 2em;
            width: 60%;
            margin-bottom: 10em;
        }

        .botones {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-bottom: 1em;
            margin-top: 0.5em;

            button {
                border-radius: 3px;
                font-family: 'Open Sans';
                margin: 1%;
                font-size: 1.1em;
                margin-top: 1em;
                background: transparent;
                border: 1px solid white;
                color: white;
                padding: 0.7%;
                padding-left: 4%;
                padding-right: 4%;
                &:hover{
                    background: black;
                    cursor: pointer;
                    transition-duration: 1s;

                }
            }
        }
    }

    .footer {

        margin: 0;

        img {
            width: 100%;
            margin-bottom: -0.5em;
            height: 100%;
            height: 200px;

        }
    }
}

section#main {
    background: #662bc5;

    z-index: 2;
    width: 100%;

    .contenedor {
        display: flex;
        justify-content: center;

        .registrarse {
            h2 {
                color: black;
                font-family: 'Open Sans';
                font-size: 2em;
                font-weight: 300;
                padding: 0.5em;
            }

            form {
                padding-top: 1em;
                display: flex;
                flex-direction: column;
                
                input {
                    padding: 3%;
                    font-family: 'Open Sans';
                    font-size: 1em;
                    margin: 0em 2em 0.8em 2em;
                    border-color: transparent;
                    border-bottom: 1px solid black;
                }

                input[type="submit"] {
                    background: #0a54f3;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    color: white;
                    margin: 0;
                    margin-top: 1em;
                    border: transparent;
                }
            }
            border-radius: 5px;
            border: 1px solid black;
            background: white;
            text-align: center;
            margin: auto;
            position: absolute;
            margin-top: -6.6em;
            z-index: 3;
            width: 100%;
            max-width: 430px;
        }
    }
}

section#top{
    h2{
        margin-top: 2em;
        text-align: center;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 2em;
    }
    padding-bottom: 2.5em;
    .contenedor{
        margin-top: 5em;
        display: flex;
        .caja{
            text-align: center;
            width: 25%;
            img{
                width: 100%;
                max-width: 140px;
            }
            .text{
                p{
                    text-align: center;
                    margin-top: 1em;
                    font-size: 1.1em;
                    font-family: 'Open Sans';
                }
            }
        }
    }
}