* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contenedor {
  max-width: 1200px;
  margin: auto;
}

header {
  background: url("../assets/melinda-derksen-718747-unsplash.jpg");
  background-size: coveR;
  padding-top: 1em;
  padding-bottom: 5em;
  margin-top: -10em;
  -webkit-transform: skewY(-6.2deg);
          transform: skewY(-6.2deg);
}

header .contenedor {
  -webkit-transform: skewY(6.2deg);
          transform: skewY(6.2deg);
}

header .contenedor ul {
  margin-top: 10em;
  padding-top: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .contenedor ul div.izq {
  width: 25%;
  color: white;
  text-align: left;
}

header .contenedor ul div.izq img {
  width: 100%;
  max-width: 50px;
}

header .contenedor ul div.der {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .contenedor ul div.der li {
  list-style-type: none;
  padding: 1%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .contenedor ul div.der li a {
  white-space: nowrap;
  font-family: 'Open Sans';
  text-decoration: none;
  color: white;
}

header div.contenido {
  margin-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div.contenido h1 {
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  font-size: 2.2em;
}

header div.contenido input {
  padding: 1%;
  margin-top: 2em;
  width: 60%;
  margin-bottom: 10em;
}

header div.contenido .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1em;
  margin-top: 0.5em;
}

header div.contenido .botones button {
  border-radius: 3px;
  font-family: 'Open Sans';
  margin: 1%;
  font-size: 1.1em;
  margin-top: 1em;
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0.7%;
  padding-left: 4%;
  padding-right: 4%;
}

header div.contenido .botones button:hover {
  background: black;
  cursor: pointer;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

header .footer {
  margin: 0;
}

header .footer img {
  width: 100%;
  margin-bottom: -0.5em;
  height: 100%;
  height: 200px;
}

section#main {
  background: #662bc5;
  z-index: 2;
  width: 100%;
}

section#main .contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#main .contenedor .registrarse {
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  text-align: center;
  margin: auto;
  position: absolute;
  margin-top: -6.6em;
  z-index: 3;
  width: 100%;
  max-width: 430px;
}

section#main .contenedor .registrarse h2 {
  color: black;
  font-family: 'Open Sans';
  font-size: 2em;
  font-weight: 300;
  padding: 0.5em;
}

section#main .contenedor .registrarse form {
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#main .contenedor .registrarse form input {
  padding: 3%;
  font-family: 'Open Sans';
  font-size: 1em;
  margin: 0em 2em 0.8em 2em;
  border-color: transparent;
  border-bottom: 1px solid black;
}

section#main .contenedor .registrarse form input[type="submit"] {
  background: #0a54f3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  margin: 0;
  margin-top: 1em;
  border: transparent;
}

section#top {
  padding-bottom: 2.5em;
}

section#top h2 {
  margin-top: 2em;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 2em;
}

section#top .contenedor {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#top .contenedor .caja {
  text-align: center;
  width: 25%;
}

section#top .contenedor .caja img {
  width: 100%;
  max-width: 140px;
}

section#top .contenedor .caja .text p {
  text-align: center;
  margin-top: 1em;
  font-size: 1.1em;
  font-family: 'Open Sans';
}
/*# sourceMappingURL=style.css.map */